// Custom.scss
// This is the file you will want to update to customize your page.

// Import Google fonts here
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Include any default variable overrides here (colors, font sizes, font family, etc..)

$light: #FEFEEA;
$dark: #FFE8B2;
$primary: #654532;
$secondary: #D05136;


// Typography
// Change font family for base text

$font-family-sans-serif: "Poppins", sans-serif;

// Change font family for headings

$headings-font-family: "Atma", serif;
$headings-font-weight: bold;
$headings-color: $primary;

// Change font sizes for h1-h6 using values in assignment

$h1: 2.986rem;
$h2: 2.488rem;
$h3: 2.074rem;
$h4: 1.728rem;
$h5: 1.44rem;
$h6: 1.2rem;

// Buttons

$btn-font-family: "Atma", serif;
$btn-font-weight: bold;
$btn-color: #fff;

@import "../node_modules/bootstrap/scss/bootstrap";

// Add additional custom code here

html {
    font-size: 18px;
}

.hero {
    height: 75vh;
}

#hero_adopt {
    background-image: url(../images/hero_adopt.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center center;
}

#hero_about {
    background-image: url(../images/hero_about.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center center;
}

#hero_home {
    background-image: url(../images/hero_home-donate.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero_overlay {
    background-color: rgba($color: #fff, $alpha: .6);
    height: 75vh;
}

#adoptable_dogs .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}